language: python
python:
  - "3.7"
  - "3.8"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install pytest-cov
# command to run tests
script:
  - pytest --cov=tagpack/
after_success:
  - coveralls