name: Unit Tests, Build, Build Docs

on:
  push:

  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'

    steps:
      - name: install libev
        run: |
          sudo apt-get install libev4 libev-dev

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --all-extras --dev

      - name: Lint with ruff
        run: |
          # stop the build if there are Python syntax errors or undefined names
          make lint

      - name: Test with pytest
        run: make test

      - name: Build wheel
        # Run tox using the version of Python in `PATH`
        run: make build

      - name: Test tagpack validation
        run: |
            uv run tagpack-tool tagpack validate tests/testfiles/
