name: Unit Tests, Build, Build Docs

on:
  push:

  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox and any other packages
        run: pip install tox tox-uv
      - name: Run Unit Test via tox
        # Run tox using the version of Python in `PATH`
        run: tox -e py
      - name: Run Lint via tox
        run: tox -e lint
      - name: Build wheel
        # Run tox using the version of Python in `PATH`
        run: tox -e build
      - name: Install tool and test tagpack validation
        run: |
            pip install .
            tagpack-tool tagpack validate tests/testfiles/
